body {
    background-image: url(https://unsplash.com/photos/PYh4QCX_fmE?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash);
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
}
